@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-black.eot');
  src: url('../assets/fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lato/lato-black.woff') format('woff'), url('../assets/fonts/lato/lato-black.ttf') format('truetype'), url('../assets/fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-bold.eot');
  src: url('../assets/fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lato/lato-bold.woff') format('woff'), url('../assets/fonts/lato/lato-bold.ttf') format('truetype'), url('../assets/fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-bolditalic.eot');
  src: url('../assets/fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lato/lato-bolditalic.woff') format('woff'), url('../assets/fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../assets/fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-italic.eot');
  src: url('../assets/fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lato/lato-italic.woff') format('woff'), url('../assets/fonts/lato/lato-italic.ttf') format('truetype'), url('../assets/fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-light.eot');
  src: url('../assets/fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lato/lato-light.woff') format('woff'), url('../assets/fonts/lato/lato-light.ttf') format('truetype'), url('../assets/fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-regular.eot');
  src: url('../assets/fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/lato/lato-regular.woff') format('woff'), url('../assets/fonts/lato/lato-regular.ttf') format('truetype'), url('../assets/fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

/* ================= */
/*     Navigation    */
/* ================= */

.navbar {
	background-color:#0695DF;
}


body {
    background-color: white;
    font-family: "Lato", Helvetica, Arial, sans-serif;
   
}

.content {
    padding-top:70px;
    padding-bottom: 70px;
    background-color: #FFFFFF;
}

.content h1 {
    color: #666666;
}

.content p {
    color: #999999;
}

.syslogo {
    height: 40px;
    width: 46px;
    float:left;
    margin: 4px 5px 0px 5px;
}

h1 {
	margin-bottom:30px;
}

/* ================= */
/*     Item Layout   */
/* ================= */

.descBox {
	height: 60px;
	overflow: hidden;
	margin-bottom: 10px;
}


.featured-item {
	background-color: #ffffff;
	border: 2px solid #bdc3c7;
    margin: 15px;
    display: inline-block;
    padding: 10px;
    width: 320px;
    vertical-align: top;
}

.caption h3 {
	font-size:20px;
	text-align:center;
	margin-top: 5px;
	color:#0695DF;
	text-shadow:none;
}

.ng-binding {
	height: 40px;
}

.btn-orange {
	color: #ffffff;
	background-color: #ff6600;
}

.btn-blue {
	color: #ffffff;
	background-color: #3598DB;
}

.thumb {
    text-align: center;
    background-color: #FFFFFF;
    height: 300px;
    overflow: hidden;
}

.thumb img {
    border: 2px solid #75c4e7;
    width: 300px;
    height: 300px;
    margin: -2px;
}

/* ================= */
/*  ALL Item Layout  */
/* ================= */


.category-side {
	width: 20%;
	float:left;
}

.all-items-border {
	width: 80%;
	float:right;
}

.descBox {
	height: 60px;
	overflow: hidden;
	margin-bottom: 10px;
	min-width:176px;
}


.all-item {
	background-color: #ffffff;
	border: 2px solid #bdc3c7;
    margin: 15px;
    display: inline-block;
    padding: 10px;
    width: 200px;
    vertical-align: top;
}

.all-caption h3 {
	font-size:16px;
	text-align:center;
	margin-top: 5px;
	color:#0695DF;
	text-shadow:none;
	text-align:center;
}

.ng-binding {
	height: 40px;
}

.btn {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.all-thumb {
    text-align: center;
    background-color: #FFFFFF;
    height: 150px;
    overflow: hidden;
}

.all-thumb img {
    border: 2px solid #75c4e7;
    width: 180px;
    height: 180px;
    margin: -2px;
}


/* ================= */
/*    Item Layout    */
/* ================= */

.item-img {
	float:left;
	
	width: 342px;
}

.item-data {
	float:right;
	width: 570px;
}

.item-img img{
	border: 2px solid #75c4e7;
    width: 300px;
    height: 300px;
    margin: -2px;
}

.all-caption {
	float:right;
}

.item-titles {
	font-size:20px;
	text-align:left;
	margin-top: 1px;
	color:#0695DF !important;
	text-shadow:none;
}

.item-details {
	min-height:244px;
	text-align:left;
}

.item-btn {
	min-height:20px;
	margin-top:-5px;
	width:100px;
}

.btn-left {
	float:left;
}