<div modal="showModal" close="cancel()">
  <div class="modal-header">
    <h2>{{ title }}</h2>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <p style="font-size:14px;color:#999999;text-align:center">Adding this item will a small SYS fee and keep the item active for approximately two weeks.</p>
    </div>

    <form novalidate class="simple-form">
     <div class="form-group">
        <label for="itemName">Item Name*</label>
        <input type="text" class="form-control" ng-model="item.title" name="itemName" id="itemName">
    </div>
    
     <div class="form-group">
        <label for="category">Category*</label>
        <input type="text" class="form-control" ng-model="item.category[0]" name="category" id="category">
    </div>
    
     <div class="form-group">
        <label for="price">Price*</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="item.price" name="price" id="price" placeholder="10000">
          <span class="input-group-addon">SYS</span>
        </div>
    </div>
    
     <div class="form-group">
        <label for="quantity">Quantity*</label>
        <input type="text" class="form-control" ng-model="item.quantity" name="quantity" id="quantity">
    </div>
    
     <div class="form-group">
        <label for="imageURL">Image URL*</label>
        <input type="text" class="form-control" ng-model="item.description.images[0]" name="imageURL" id="imageURL">
    </div>
    
     <div class="form-group">
        <label for="EIN">EIN <a href="">(What is this?)</a></label>
        <input type="text" class="form-control" ng-model="item.description.EIN" name="EIN" id="EIN">
    </div>
     
     <div class="form-group">
        <label for="UPC">UPC <a href="">(What is this?)</a></label>
        <input type="text" class="form-control" ng-model="item.description.UPC" name="UPC" id="UPC">
    </div>
        
     <div class="form-group">
        <label for="website">Website</label>
        <input type="text" class="form-control" ng-model="item.description.website" name="website" id="website">
    </div>
        
     <div class="form-group">
        <label for="description">Description*</label>
       <textarea ng-model="item.description.description" class="form-control" name="description" id="description" rows="3"  placeholder="Description"></textarea>
    </div>
        
     <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" ng-model="item.description.location" name="location" id="location">
    </div>

    <div class="form-group">
      <label for="deliveryMethod">Delivery Method</label>
      <input type="text" class="form-control" ng-model="item.description.deliveryMethod" name="deliveryMethod" id="deliveryMethod">
    </div>

    <div class="form-group">
        <label for="deliveryTime">Delivery Time</label>
        <input type="text" class="form-control" ng-model="item.description.deliveryTime" name="deliveryTime" id="deliveryTime">
    </div>
        
     <div class="form-group">
        <label for="shipMethod">Shipping Method</label>
        <input type="text" class="form-control" ng-model="item.description.shipMethod" name="shipMethod" id="shipMethod">
    </div>
        
     <div class="form-group">
        <label for="condition">Condition</label>
        <input type="text" class="form-control" ng-model="item.description.condition" name="condition" id="condition">
    </div>   
</form>

  </div>
  <div class="modal-footer">
    <a class="btn btn-success" ng-click="addItem(item)">Add Item</a>&nbsp;&nbsp;
    <a class="btn" ng-click="cancel()">Cancel</a>
  </div>
</div>
