<div modal="showModal" close="cancel()">
  <div class="modal-header">
    <h2>{{ title }}</h2>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <p style="font-size:14px;color:#999999;text-align:center">Updating this item will incur a small fee and keep the item active for approximately another two weeks.</p>
    </div>

    <form novalidate class="simple-form">
     <div class="form-group">
        <label for="inputEmail">Item Name*</label>
        <input type="text" class="form-control" ng-model="item.title" name="itemName" id="itemName">
    </div>
    
     <div class="form-group">
        <label for="inputEmail">Category*</label>
        <input type="text" class="form-control" ng-model="item.category[0]" name="category" id="category">
    </div>
    
     <div class="form-group">
        <label for="inputEmail">Price*</label>
        <div class="input-group">
        <input type="text" class="form-control" ng-model="item.price" name="price" id="price" placeholder="10000">
        <span class="input-group-addon">SYS</span>
        </div>
    </div>
    
     <div class="form-group">
        <label for="inputEmail">Quantity*</label>
        <input type="text" class="form-control" ng-model="item.quantity" name="quantity" id="quantity">
    </div>
    
     <div class="form-group">
        <label for="inputEmail">Image URL*</label>
        <input type="text" class="form-control" ng-model="item.description.images[0]" name="imageURL" id="imageURL">
    </div>
    
     <div class="form-group">
        <label for="inputEmail">EIN <a href="">(What is this?)</a></label>
        <input type="text" class="form-control" ng-model="item.description.ein" name="ein" id="ein">
    </div>
     
     <div class="form-group">
        <label for="inputEmail">UPC <a href="">(What is this?)</a></label>
        <input type="text" class="form-control" ng-model="item.description.upc" name="upc" id="upc">
    </div>
        
     <div class="form-group">
        <label for="inputEmail">Website</label>
        <input type="text" class="form-control" ng-model="item.description.website" name="website" id="website">
    </div>
        
     <div class="form-group">
        <label for="inputEmail">Description*</label>
       <textarea ng-model="item.description.description" class="form-control" name="description" id="description" rows="3"  placeholder="Description"></textarea>
    </div>
        
     <div class="form-group">
        <label for="inputEmail">Location</label>
        <input type="text" class="form-control" ng-model="item.description.item_location" name="location" id="location">
    </div>
        
     <div class="form-group">
        <label for="inputEmail">Delivery Time</label>
        <input type="text" class="form-control" ng-model="item.description.delivery_time" name="deliveryTime" id="deliveryTime">
    </div>
        
     <div class="form-group">
        <label for="inputEmail">Shipping Method</label>
        <input type="text" class="form-control" ng-model="item.description.ship_method" name="shipMethod" id="shipMethod">
    </div>
        
     <div class="form-group">
        <label for="inputEmail">Condition</label>
        <input type="text" class="form-control" ng-model="item.description.condition" name="condition" id="condition">
    </div>   
</form>

  </div>
  <div class="btn-group inline" style="padding:10px;">
      <button class="btn btn-success" ng-click="updateItem(item)">Update Item</button>&nbsp;&nbsp;
      <button class="btn" ng-click="cancel()">Cancel</button>
  </div>


</div>
