<div modal="showModal" close="cancel()">
  <div class="modal-header">
    <h2>{{ title }}</h2>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <p style="font-size:14px;color:#999999;text-align:center">Renewing this offer will cost you 44 SYS and keep the offer active for approximately another two weeks. Do you wish to continue?</p>
    </div>

    <form novalidate class="simple-form">
     <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="text" class="form-control" ng-model="item.title" name="itemName" id="itemName">
    </div>
    
     <div class="form-group">
        <label for="itemGuid">GUID</label>
        <input type="text" class="form-control" ng-model="item.id" name="itemGuid" id="itemGuid">
    </div>

    <div class="form-group">
      <label for="expiresIn">Current Expiration</label>
      <input type="text" class="form-control" ng-model="item.expires_in" name="expiresIn" id="expiresIn">
    </div>
</form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="renewItem(item)">Ok</button><br />
    <button class="btn" ng-click="cancel()">Cancel</button>
  </div>
</div>
