<div>
  <h1>Manage Inventory</h1>
  <div ng-if="authenticated">
    <div style="text-align:left;display:inline;">
      <button style="float:left" type="button" class="btn btn-default btn-sm" ng-click="launchModal('addItem')">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
      </button>
    </div>
    <div style="float:right;display:inline;padding-top:3px;color:black;font-size: 14px">
      Wallet Balance: <b>{{ balance | number }} SYS</b>
    </div>
    <br /><br />
    <div>
      <alert ng-if="showAlert === true" type="success" close="closeAlert()">texy</alert>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>GUID</th>
        <th>Expires In</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in items | orderBy: 'expires_in' : reverse=true" ng-if="item.expires_in > 0">
        <td ng-click="launchModal('editItem', item.name)">{{ item.value }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.expires_in }}</td>
      </tr>
      </tbody>
    </table>

    <div ng-if="hasPendingItems">
      <h3>Items Pending Confirmation</h3>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>GUID</th>
          <th>Expires In</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items | orderBy: 'expires_in' : reverse=true" ng-if="item.pending">
          <td>{{ item.value }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.pending }}</td>
          <td>Waiting for confirmations...</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="!hasActiveItems && hasExpiredItems" style="font-size:18px; font-weight: bold; text-align: center">
      All your offers have expired. <a ng-click="toggleExpiredItems()">View expired offers.</a>
    </div>

    <div ng-if="!hasActiveItems && !hasExpiredItems && !hasPendingItems" ng-click="launchModal('addItem')" style="font-size:18px; font-weight: bold; text-align: center">
      You haven't listed any items yet. Click <a href="javascript:void(0)">add item</a> to get started.
    </div>

    <div ng-show="showExpiredItems">
      <h3>Expired Items</h3>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>GUID</th>
          <th>Expires In</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items | orderBy: 'expires_in' : reverse=true" ng-if="item.expires_in < 0 && item.pendingConfirmation === false">
          <td>{{ item.value }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.expires_in }}</td>
          <td>EXPIRED</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div ng-if="!authenticated">
  <form novalidate class="simple-form" ng-submit="authenticate(user)">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" ng-model="user.username" name="username" id="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" ng-model="user.password" name="password" id="password">
    </div>
    <input type="submit" style="display:none">
  </form>
  <span style="color:red" ng-if="authFailed">Invalid username/password. Please try again.</span>

  <div>
    <button class="btn btn-success" ng-click="authenticate(user)">Login</button>

  </div>
</div>

</body>