<div>
  <h1>Manage Inventory</h1>

  <div style="text-align:left;">
    <button style="float:left" type="button" class="btn btn-default btn-sm" ng-click="launchModal('addItem')">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
    </button>
  </div>
  <br /><br />
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Title</th>
      <th>GUID</th>
      <th>Expires In</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items | orderBy: 'expires_in' : reverse=true ">
      <td ng-click="launchModal('editItem', item.name)">{{ item.value }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.expires_in }}</td>
      <td><a href="javascript:void(0)" ng-click="launchModal('renewItem', item.name)">renew</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</div>