<style>
  .showForm {
    color: #888888;
    font-size: 11px;
    margin: 5px 0 5px 0;
  }

</style>
<div modal="showModal" close="cancel()">
  <div class="modal-header">
    <h4>Buy Item</h4>
  </div>

  <div class="modal-body">
    <alert type="danger" style="font-size: 14px">Please note, your information is not currently encrypted when being sent to the payment page.
      It is highly recommended that you used <a href="http://syscoin.market/#/pgp" target="_blank">PGP Encryption</a> on all of your information until native encryption is implemented in Blockmarket Beta 4.</alert>

    <p>Please fill out the form below and press "Purchase Now" to complete the purchase using your local wallet.</p>

    <h3 style="color: #666666">{{ item.title }}</h3>

    <div>
      <form novalidate class="simple-form">

        <div class="form-group sub">
          <label for="buyerEmail">Email (<a href="http://syscoin.market/#/pgp" target="_blank">encryption recommended</a>):</label>
          <input type="text" class="form-control" ng-model="purchase.buyerEmail" name="buyerEmail" ng-change="updateURI()">
        </div>

        <div class="form-group sub" ng-if="item.description.deliveryMethod.toUpperCase() == 'PHYSICAL' || !item.description.deliveryMethod">
          <label for="buyerAddress">Address (<a href="http://syscoin.market/#/pgp" target="_blank">encryption recommended</a>):</label>
          <textarea ng-model="purchase.buyerAddress" class="form-control" name="buyerAddress" rows="3"  placeholder="Shipping Address" ng-change="updateURI()"></textarea>
        </div>

        <div class="form-group sub">
          <label for="buyerNote">Note (<a href="http://syscoin.market/#/pgp" target="_blank">encryption recommended</a>):</label>
          <textarea ng-model="purchase.buyerNote" class="form-control" name="buyerNote" rows="3"  placeholder="Note to Seller" ng-change="updateURI()"></textarea>
        </div>

        <hr />

        <div class="form-group">
          <label for="itemQuantity">Quantity:</label>
          <input type="text" class="form-control" ng-model="purchase.itemQuantity" name="itemQuantity" ng-blur="updateURI()">
        </div>

      </form>
    </div>

    <h3>Total: {{ item.price * purchase.itemQuantity }} SYS</h3>

  </div>
  <div class="modal-footer">
    <a href="syscoin:{{ purchase.uri }}" class="btn btn-success" ng-disabled="!purchaseFieldsValid">Purchase Now</a>&nbsp;
    <a href="javascript:void(0);" ng-click="showBackup(true)" class="showForm">Pay Button not working?</a>
    &nbsp;&nbsp;&nbsp;
    <a href="" class="btn" ng-click="cancel()">Cancel</a>
    <div ng-if="showBackupForm" class="showForm" style="color:white;margin-top:10px;text-align: left" >
      Problems purchasing using URI schemes? Use the inputs below to quickly purchase the item via your local wallet. Simply copy the Item GUID into the local wallet,
      press "Lookup Offer" and then paste the Buyer Note into the "Notes" textfield your wallet, populate a quantity and then click "Accept Offer".

      <form novalidate class="simple-form">

        <div class="form-group">
          <label for="itemGUID">Item GUID:</label>
          <input type="text" class="form-control" ng-model="item.id" id="itemGUID" disabled>
        </div>

        <div class="form-group">
          <label for="buyerNote">Buyer Note (encryption recommended):</label>
          <textarea class="form-control" id="buyerNote" rows="6" disabled>{{ fullBuyerNote }}</textarea>
        </div>
      </form>
    </div>
  </div>
</div>
