<div style="width: 100%;text-align:left;">
  <h1>{{ item.title }}</h1>

  <category-list categories="categories"></category-list>

  <div class="all-items-border">

<div class="item-img">
  <img ng-src="{{ item.description.images['0'] }}">
</div>
<div class="item-data">
<div class="item-details">
  <p class="item-titles">GUID: <span class="label label-info">{{ item.id }}</span></p>
  <p class="item-titles">Quantity: <span class="label label-info">{{ item.quantity }}</span></p>
  <p class="item-titles">Price: <span class="label label-info">{{ item.price }} SYS</span></p>

  <span ng-if="item.description.EIN">
    <p class="item-titles">EIN: <p>{{ item.description.EIN}}</p></p>
  </span>
  <span ng-if="item.description.UPC">
    <p class="item-titles" >UPC: <p>{{ item.description.UPC}}</p></p>
  </span>

  <span ng-if="item.description.website">
    <p class="item-titles">Website: </p><p><a href="{{ item.description.website}}">{{ item.description.website}}</a></p>
  </span>

  <span ng-if="item.description.location">
    <p class="item-titles">Location: </p><p>{{ item.description.location}}</p>
  </span>

  <span ng-if="item.description.deliveryMethod">
    <p class="item-titles" >Delivery Method: <p>{{ item.description.deliveryMethod}}</p></p>
  </span>

  <span ng-if="item.description.shipMethod">
    <p class="item-titles" >Shipping Method: <p>{{ item.description.shipMethod}}</p></p>
  </span>

  <span ng-if="item.description.deliveryTime">
    <p class="item-titles" >Delivery Time: <p>{{ item.description.deliveryTime}}</p></p>
  </span>

  <span ng-if="item.description.condition">
    <p class="item-titles">Condition: <p>{{ item.description.condition}}</p></p>
  </span>

  <p class="item-titles">Description: <p class="lead">{{ item.description.description}}</p></p>

  </div>
  <div class="item-btn">
  <button class="btn btn-info" role="button" ng-click="buyItem(item)">Buy Item</button>
  </div>
</div>
</div>